<h1>{{title}}</h1>
<ul>
  {{#each list}}
  <li>
    <a href={{this.url}}>{{this.name}}</a>
    {{#if (year this.dateOfBirth)}}
      ({{year this.dateOfBirth}}-{{year this.dateOfDeath}})
    {{/if}}
  </li>
  {{/each}}
</ul>