<h1>{{author.name}}</h1>
{{#if author.lifespan}}
<p>{{author.lifespan}}</p>
{{/if}}
<h4>Books</h4>
<div>
  {{#if books}}
  <dl>
    {{#each books}}
    <dt><a href={{this.url}}>{{this.title}}</a></dt>
    <dd>{{this.summary}}</dd>
    {{/each}}
  </dl>
  {{else}}
  <p>This author has no books in the library.</p>
  {{/if}}
</div>
<hr>
<a href={{concat author.url '/delete'}} class="text-danger">Delete author</a>