<h1>{{book.title}}</h1>
<p>
  <strong>Author: </strong>
  <a href={{book.author.url}}>{{book.author.name}}</a>
</p>
<p>
  <strong>Summary: </strong>
  {{book.summary}}
</p>
<p>
  <strong>ISBN: </strong>
  {{book.isbn}}
</p>
<p>
  <strong>Genre: </strong>
  {{#each book.genre}}
  <a href={{this.url}}>{{this.name}}{{#unless @last}},{{/unless}}</a>
  {{/each}}
</p>

<h4>Copies</h4>
{{#if copies}}
{{#each copies}}
<hr>
<p>
  <strong>Status: </strong>
  {{#if (equal this.status 'available')}}
  <span class="text-success">{{this.status}}</span>
  {{else if (equal this.status 'maintenance')}}
  <span class="text-danger">{{this.status}}</span>
  {{else}}
  <span class="text-warning">{{this.status}}</span>
  {{/if}}
</p>
{{#if (equal this.status 'loaned')}}
<p>
  <strong>Due back: </strong>{{format this.due}}
</p>
{{/if}}
<p>
  <strong>Imprint: </strong>{{this.imprint}}
</p>
<p>
  <strong>ID: </strong><a href={{this.url}}>{{this._id}}</a>
</p>
{{/each}}
{{else}}
<p>There are no copies of this book.</p>
{{/if}}
<hr>
<a href={{concat book.url '/update'}} class="text-primary d-block mb-2">Update book</a>
<a href={{concat book.url '/delete'}} class="text-danger">Delete book</a>